body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.navbar {
    background-color: #333 !important;
    color: white !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #333 !important;
}

.card {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.container {
    padding: 2px 16px !important;
}

.postcard .card-body {
    padding: 1rem !important;
}

.postcard .card-body .post-content p {
    margin-bottom: 0 !important;
}

.btn-primary {
    background-color: #333 !important;
    border-color: #333 !important;
}

.login-register-card {
    margin-top: 20%;
}
