<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>followers</title>
</head>
<body>
<a th:text="${user.getUsername()}" th:href="@{/{username}(username=${user.getUsername()})}">user's followers</a>
<p>followers</p>
<a th:href="@{/home}">home</a>
<div th:if="${followers.isEmpty()}">
    <p>0 followers</p>
</div>
<div th:if="${!followers.isEmpty()}">
    <table th:each="follower: ${followers}">
        <tr>
            <td th:text="${follower.getFollower().getUsername()}">username</td>
            <td>
                <a th:href="@{/{username}(username=${follower.getFollower().getUsername()})}">
                    <button type="submit">view profile</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>