<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form method="POST" action="/register" th:object="${user}">
    <label>username
        <input type="text" th:field="*{username}"/>
    </label>
    <label>email
        <input type="text" th:field="*{email}"/>
    </label>
    <label>password
        <input type="password" th:field="*{password}"/>
    </label>
    <input type="submit" value="Register"/>
</form>
</body>
</html>
