<!-- Head-->
<head th:replace="~{layout :: head}">...</head>

<!-- Navbar -->
<div th:replace="~{layout :: navbar}"></div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-3">Users</h2>
            <div class="list-group mt-3">
                <!-- For each user in users -->
                <div th:each="user: ${users}">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto pr-0">
                                    <img src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg" alt="Profile Picture"
                                         width="50"
                                         class="profile-img">
                                </div>
                                <div class="col d-flex align-items-center">
                                    <div>
                                        <h5 th:href="@{/{username}(username=${user.getUsername()})}" th:text="${user.getUsername()}" class="card-title mb-0">Username</h5>
                                        <a th:href="@{/{username}(username=${user.getUsername()})}" class="btn btn-primary btn-sm mt-2">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End for each user in users -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
